@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.header_container {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  font-size: 38px;
  font-weight: 500;
  color: rgb(50, 50, 50);
}

.main {
  background: rgb(233, 233, 233);
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  color: rgb(50, 50, 50);
}

.count {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 20px;
}

.sub {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.name {
  font-size: 32px;
  font-weight: 500;
}

.button {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}

.restart {
  font-weight: 300;
  font-size: 24px;
}


